<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCBI Resource Manager</title>
</head>
<body>
    <div>
        <h1>SimCity BuildIt: Resource Manager</h1>
        <p>SimCity BuildIt is a mobile game that requires a player to manufacture products to progress. Keeping track of required products, the intermediate products, and the raw materials can be difficult.</p>
        <h2>Problem Statements</h2>
        <ol>
            <li>HMW save user time by with keeping track of required products for easy reference?</li>
            <li>HMW eliminate supply chain issues by providing the player with a count of required raw materials?</li>
        </ol>
    </div>
</body>
</html>